/* reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,pre, form, fieldset, input, textarea, p, blockquote, th, td {padding: 0; margin: 0;}    
fieldset, img { border: 0; }    
table {border-collapse: collapse;  border-spacing: 0;}    
ol, ul {list-style: none; }    
address, caption, cite, code, dfn, em, strong, th, var { font-weight: normal; font-style: normal;}    
caption, th {text-align: left;}    
h1, h2, h3, h4, h5, h6 {font-weight: normal;font-size: 100%;}    
q:before, q:after {content: '';}    
abbr, acronym {border: 0;}

body {
    background-color: #eeeeee;
}
.topbar {
    width: 100%;
    height: 80px;
    background-color: white;
}

.banner {
    width: 100%;
    height: 525px;
    background-image: url("../img/patrick-tomasso-70305-1.jpg");
    background-color: firebrick;
}

.content {
    width: 100%;
    height: 480px;
    background-color: #eeeeee;
}

.presentation {
    width: 100%;
    height: 520px;
    background-color: #ffffff;
}

.footer {
    width: 100%;
    min-height: 395px;
    background-color: black;
}

.logo {
    position: absolute;
    margin-left: 110px;
    margin-top: 15px;   
}

.menu-link {
    list-style:none;
    float: right;
    margin-right: 110px;
}
.menu-link li {
    margin-top: 50px;
    margin-left: 28px;
    float: left;
    bottom: 5px;
}

.menu-link li a {
    font-size: 14px;
    text-decoration: none;
}
.github-icon {

    /* 因为在同一个容器里有另外一个元素进行了float: left;
    所以此处用了position: absolute来进行绝对定位
    否则会和浮动元素造成冲突 */
    
    position: absolute;
    right: 10px;
    top: 46px;
}

.text-1 {
    position: absolute;
    width: 360px;
    height: 120px;
    right: 110px;
    margin-top:405px;
    
    /* 设定背景图片透明度 */
    background-image: linear-gradient(rgba(255,255,255,0.7)0%,rgba(255,255,255,0.5)50%,rgba(255,255,255,0)100%)
}
.text-1 h1 {
    font-size: 14px;
    float: right;
    margin: 10px 10px 12px 10px;
}

.text-1-2 {
    font-size: 12px;
    margin: 0 10px 30px 10px;
    line-height: 150%;
    text-align: right;

    /* 清除浮动 */
    clear: right;
}

.box-big {
    width: 980px;
    height: inherit;
    margin: 0 auto;
    
}

.box1 {
    background-color: white;
    width: 320px;
    min-height: 360px;
    float: left;
    margin-top: 10px;
}

/* 选择父元素的第二个元素 */
.box1:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
}
.box1 img {
    margin: 10px 10px 15px 10px;
    background-image: url("../img/patrick-tomasso-70305-1.jpg")

}
.text-2 {
    font-size: 12px;
    line-height: 170%;
    margin: 5px 30px 25px 30px;
}

.img-wrap {
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-image: url("../img/p642927408-01.jpg");
    border: 0;

    /* 先利用absolute + left: 50% + transform: translate(-50%,0)居中
    然后再利用translate(0,-50px)使元素垂直上升移动50px */
    left: 50%;
    transform: translate(-50%,0) translate(0,-50px);   
}

.text-3 {
    color: black;
    font: 20px "Century Gothic";
    text-align: center;
    padding-top: 160px;
}
.text-3-1 {
    width: 600px;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    padding-top: 48px;
}

.menu-link-2 {
    position: absolute;
    list-style:none;
    left: 50%;
    transform: translate(-50%,0);
}
.menu-link-2 li {
    margin: 12px 12.5px;
    float: left;
}

.menu-link-2 li a {
    color: white;
    font-size: 11px;
    text-decoration: none;
}
hr {
    width: 100%;
    position: absolute;
    margin-top: 43px;
}

.link-box {
    color: #999999;
    width: 980px;
    position: absolute;
    list-style:none;
    left: 50%;
    transform: translate(-50%,0);
    margin-top: 78px;
}

.link-box a {
    color: white;

    /* 设置链接的样式 */
    text-decoration: none;
}

.link-ul{
    display: flex
}

.link-ul  li {
    font-size: 11px;
    float: left;
}

.link-ul-li {
    flex: 1;
}

.link-ul-li-ul  li{
    margin-bottom:12px;    
    float: none;
}
.link-ul-li-ul li:first-child {
    margin-bottom: 30px;
}
.link-ul-li-ul  li a {
    font-size: 3px;
}
.logo-2 {
    /* 利用left + transform 使元素居中
    设置position + bottom使元素总处于浏览器最下方 */
    position: fixed;
    left: 50%;
    transform: translate(-50%,0);
    bottom:0;  
}


/* 

blog样式

*/
.blog-section {
    /* position: relative; */
    display: flex;
    width: 980px;
    margin: 0 auto;
    margin-top: 20px;
    
    /* 完成后删除 */
    margin-bottom: 20px;
}

.section {
    float: left;
    width: 710px;
    margin-right: 10px;
}
.aside {
    width: 260px;
    margin: 0;
}
.blog-content{
    width: inherit;
    background-color: white;
    margin-bottom: 10px;
}
.tag-1 {
    text-align: center;
    line-height: 40px;    
    position: relative;
    width: 50px;
    height: 40px;
    right: 50px;
    top: 20px;
    background-color: #522a5c;
    color: beige;    
    font-size: 8px;
}
.tag-2 {

    /* 快内文字实现垂直水平居中方法 */
    text-align: center;        
    line-height: 40px;   

    /* 使用了position: relative
    其他的元素的位置则不会受该元素的影响发生位置改变来弥补它偏离后剩下的空隙。 */
    position: relative;
    width: 50px;
    height: 40px;
    top: 20px;    
    right: 50px;
    background-color: #a660b7;
    color: beige;
    font-size: 8px;    
}
.blog-content h1 {
    font-size: 16px;
    font-weight: 600;
    padding: 23px 22px 5px 20px;
}
.blog-content h2 {
    padding: 5px 22px 9px 20px;
    font-size: 12px;
    color: #666666;
}
.blog-content p {
    text-indent: 1em;
    font-size: 11px;
    padding: 5px 22px 9px 20px;
}
.blog-content h3 {
    font-size: 11px;
    color: #999999;
    padding-right: 24px;
    padding-top: 37px;
    padding-bottom: 18px;
    text-align: right;
}
.content-position {
    /* 解决position: relative流下来的空白，增加下个元素的负边距 */
    margin-top: -80px;
}

/* 搜索框 */
.search-input{
    background-color: white;
    width: 260px;
    height: 80px;
    margin-bottom: 10px;
}
.search-input input {
    /* 设置插入input框内的小图标 */
    background-image: url("../img/search-01-01-01.png");
    background-repeat:no-repeat;  

    float: left;
    width: 170px;
    height: 40px;
    border: 1px solid #dddddd;

    /* 增加输入文字的缩进，使input focus的时候输入文字在小图标的右面(刚好是小图标的尺寸),避免和图标背景重合 */
    text-indent: 40px;
}
.search-input button {
    width: 52px;
    height: 42px;
    background-color: #dddddd;
    border: 1px solid #dddddd;
    color: #ffffff;
}
.search-input-div {

    /* 若父容器下只有一个元素，且父元素设置了高度，则只需要使用相对定位即可
    parentElement{
        height:xxx;
    }

    .childElement {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    } */
    position: relative;
    width: 225px;
    height: 42px;

    /* 元素居中 */
    margin:  0 auto;
    /* 元素垂直 */
    top: 50%;
    transform: translateY(-50%);
}

/* 改变input placeholder的字体颜色 */
.search-input ::-webkit-input-placeholder { /* WebKit, Blink, Edge */    color:  #999999; }
.search-input :-moz-placeholder { /* Mozilla Firefox 4 to 18 */   color:    #999999; }
.search-input ::-moz-placeholder { /* Mozilla Firefox 19+ */   color:    #999999; }
.search-input :-ms-input-placeholder { /* Internet Explorer 10-11 */   color:    #999999; }

/* 设置placeholder默认文字所在的位置 */
/* .search-input ::-webkit-input-placeholder {padding-left: 40px; } */

/* 当焦点聚集在输入框时，默认值消失 */
.search-input :focus::-webkit-input-placeholder {
    color: transparent;   
}  

/* 分类列表 */
.classify {
    width: inherit;
    height: 200px;
    margin-bottom: 10px;

}
.classify li {
    /* display: inline-block; */
    color: #666666;
    display: block;
    height: 50px;
    border-top: 1px solid #dddddd;
    border-left: 4px solid #dfc6e6;
    background-color: white;
    text-align: left;
    line-height: 50px;
    padding-left: 18px;
}
.classify li a {
    text-decoration: none;
}
.classify li:last-child {
    border-bottom: 1px solid #dddddd;
}
.classify li:hover {
    border-left: 4px solid #522a5c;
}
ul.classify li.active {
    border-left: 4px solid #522a5c;
}

/* 日历 */
.calendar {
    width: inherit;
    height: 240px;
    background-color: white;
}
.month {
    padding: 24px 24px 20px 20px;
    color: #773c88;
}
.prev {
    float: left;
}
.month span {
    font-weight: 600;
}
.next {
    float: right;
}
.calendar-table {
    width: 220px;
    height: 160px;
    color: #999999;
    margin: 0 auto;
    position: relative;
    transform: translateY(-15px);
}
.calendar-table td {
    /* 设置table内文字的边距及居中方式 */
    padding:6px;  
    /* margin: 6px; */
    font-size: 5px; 
    text-align:center; 
}
.calendar-table th {
    text-align:center;
    padding: 0 6px 6px 6px;
}
.calendar-table tr {
    /* 设置行的border */
    border-bottom: 1px solid #eeeeee;
}

/* 标签云 */
.tag-cloud {
    width: inherit;
    background-color: white;
    margin-top: 10px;
}
.tag-cloud h6 {
    color: #666666;
    font-weight: 300;
    padding: 13px 0 13px 16px;
}
.tag-cloud-p {
    padding: 10px 20px 33px 16px;
}

/* 分页列表 */
.pagination {

    /* 如何让横向列表居中
    把ul设置为display:inline
    然后用text-align:center来使ul居中
    没设置之前列表是display:block */
    text-align: center;
    
    margin-bottom: 200px;
}
.pagination ul{
    display: inline-block;
}
.pagination ul li {
    /* 设置列表项为inline，列表可以横向排列 */
    display: inline;
}
.pagination ul li a {
    float: left;
    text-decoration: none;
    border: none;
    padding: 14px 17px;   
    margin: 0 5px;
    background-color: white;
}
ul.pagination-ul li a:hover:not(.active) {
    background-color: #a660b7;
    color: white;    
    }
ul.pagination-ul li a.active {
    background-color: #a660b7;
    color: white;
}

/* tab菜单栏 */
.tab-menu {
    margin-top: 13px;
    margin-bottom: 16px;
    display: inline-block;
}
.tab-menu li {
    float: left;
}
.tab-menu li a{
    text-decoration: none;
    padding: 15px 20px 20px 20px;
    background-color: #ffffff;
    border-top: 4px solid #773c88;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
.tab-menu li :haver{
    background-color: #a660b7;
}
.tab-menu li a{
    font-size: 8px;
}
.tab-menu li:first-child {
    border-bottom: 1px solid white;
}

/* 瀑布流布局 */
.big-tab-backgound{
    width: inherit;
    background-color: white;
}
.big-table {
    width: 670px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}

/* 左侧列表 */
.big-table-1 {
    width: 330px;
    float: left;
}
.column-independent {
    width: inherit;
    height: 220px;
    background-color: indigo;
    margin-bottom: 10px;
}

/* 右侧列表两列 */
.big-table-2 {
    /* position: relative; */
    width: 330px;
    float: right;
    display: flex; 
    /* row（默认值）：主轴为水平方向，起点在左端 */
    flex-direction: row;
    /* 这里有点小问题，不能设置两列之间的间隔宽度 */
    justify-content:space-between;
    column-gap: 10px;
    
}
.column { 
    display: flex; 
    flex-direction: column; 
    width: calc(100%/2);
}

.item {
    box-sizing: border-box;
    padding-bottom: 10px;
    counter-increment: item-counter;
  }
.item__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 185px;
    font-size: 40px;
    color: #070319;
    background: currentColor;
    box-sizing: border-box;
    color: #18314F;
  }
.item__content__small {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 185px;
    font-size: 40px;
    color: #070319;
    background: currentColor;
    box-sizing: border-box;
    color: #18314F;
  }
  .item__content__medium {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 205px;
    font-size: 40px;
    color: #070319;
    background: currentColor;
    box-sizing: border-box;
    color: #18314F;
  }
  .item__content__big {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 255px;
    font-size: 40px;
    color: #070319;
    background: currentColor;
    box-sizing: border-box;
    color: #18314F;
  }
  .clearDiv {
    clear: both; 
  }

.turn-to-more {
      height: 50px;
      width: inherit;
      background-color: white;
      margin-top: 10px;
      text-align: center;
}
 
.turn-to-more a {
    text-decoration: none;
    color: #666666;
    line-height: 50px;
}  
.turn-to-more:hover {
    background-color: #999999;
}

/*  */
/* about.html */
/*  */
.about-section {
    position: relative;
    width: 980px;
    height: 1300px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 24px;
    background-image: url('../img/bg-line-01.jpg');
    background-position:center;
    background-repeat: repeat-y;
    background-color: white;
}
.user-box {
    position: absolute;
    width: 980px;
    /* height: 200px; */
    /* background-color: violet; */
    /* margin: 0 auto; */
    top: -60px;
    left: 50%;
    transform: translate(-50%,0);
}
.user-img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-image: url("../img/p642927408-01.jpg");
    border: 10px solid #eeeeee;
    margin: 0 auto;
}
.user-img-small{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url("../img/phone-01.jpg");
    border: 5px solid #eeeeee;
    margin: 0 auto;
}
.user-information {
    width: 674px;
    margin: 0 auto;
    margin-top: 18px;
    margin-bottom: 25px;
}
.user-name {
    width: 272px;
    float: left;
    text-align: right;
    /* clear: right; */
}
.user-name p {
    padding-right: 5px;
    font-size: 16px;
}
.user-demo {
    float: right;
    width: 272px;
}
.user-demo p {
    width: 300px;
    padding-left: 5px;
    font-size: 13px;
    line-height: 26px;
    /* text-indent: 2em; */
}
.user-year {
    text-align: center;
}
.user-year span {
    display: inline-block;
    font-size: 5px;
    padding: 6px 16px;
    background-color: white;
    border: 5px solid #eeeeee;
    border-radius: 20px;
    margin-bottom: 36px;
    /* margin-top: 30px; */
}

