/* reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,pre, form, fieldset, input, textarea, p, blockquote, th, td {padding: 0; margin: 0;}    
fieldset, img { border: 0; }    
table {border-collapse: collapse;  border-spacing: 0;}    
ol, ul {list-style: none; }    
address, caption, cite, code, dfn, em, strong, th, var { font-weight: normal; font-style: normal;}    
caption, th {text-align: left;}    
h1, h2, h3, h4, h5, h6 {font-weight: normal;font-size: 100%;}    
q:before, q:after {content: '';}    
abbr, acronym {border: 0;}

.topbar {
    width: 100%;
    height: 80px;
    background-color: honeydew;
}

.banner {
    width: 100%;
    height: 525px;
    background-image: url("../img/patrick-tomasso-70305-1.jpg");
    background-color: firebrick;
}

.content {
    width: 100%;
    height: 480px;
    background-color: #eeeeee;
}

.presentation {
    width: 100%;
    height: 520px;
    background-color: #ffffff;
}

.footer {
    width: 100%;
    min-height: 395px;
    background-color: black;
}

.logo {
    position: absolute;
    margin-left: 110px;
    margin-top: 15px;   
}

.menu-link {
    display: inline-block;
    list-style:none;
    float: right;
    margin-right: 110px;
}
.menu-link li {
    margin-top: 50px;
    margin-left: 28px;
    float: left;
    bottom: 5px;
}

.menu-link li a {
    font-size: 14px;
    text-decoration: none;
}
.github-icon {

    /* 因为在同一个容器里有另外一个元素进行了float: left;
    所以此处用了position: absolute来进行绝对定位
    否则会和浮动元素造成冲突 */
    
    position: absolute;
    right: 10px;
    top: 46px;
}

.text-1 {
    position: absolute;
    width: 360px;
    height: 120px;
    right: 110px;
    margin-top:405px;
    
    /* 设定背景图片透明度 */
    background-image: linear-gradient(rgba(255,255,255,0.7)0%,rgba(255,255,255,0.5)50%,rgba(255,255,255,0)100%)
}
.text-1 h1 {
    font-size: 14px;
    float: right;
    margin: 10px 10px 12px 10px;
}

.text-1-2 {
    font-size: 12px;
    margin: 0 10px 30px 10px;
    line-height: 150%;
    text-align: right;

    /* 清除浮动 */
    clear: right;
}

.box-big {
    width: 980px;
    height: inherit;
    margin: 0 auto;
    
}

.box1 {
    background-color: white;
    width: 320px;
    min-height: 360px;
    float: left;
    margin-top: 10px;
}

/* 选择父元素的第二个元素 */
.box1:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
}
.box1 img {
    margin: 10px 10px 15px 10px;
    background-image: url("../img/patrick-tomasso-70305-1.jpg")

}
.text-2 {
    font-size: 12px;
    line-height: 170%;
    margin: 5px 30px 25px 30px;
}

.img-wrap {
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-image: url("../img/p642927408-01.jpg");
    border: 0;

    /* 先利用absolute + left: 50% + transform: translate(-50%,0)居中
    然后再利用translate(0,-50px)使元素垂直上升移动50px */
    left: 50%;
    transform: translate(-50%,0) translate(0,-50px);   
}

.text-3 {
    color: black;
    font: 20px "Century Gothic";
    text-align: center;
    padding-top: 160px;
}
.text-3-1 {
    width: 600px;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    padding-top: 48px;
}

.menu-link-2 {
    position: absolute;
    list-style:none;
    left: 50%;
    transform: translate(-50%,0);
}
.menu-link-2 li {
    margin: 12px 12.5px;
    float: left;
}

.menu-link-2 li a {
    color: white;
    font-size: 11px;
    text-decoration: none;
}
hr {
    width: 100%;
    position: absolute;
    margin-top: 43px;
}

.link-box {
    color: #999999;
    width: 980px;
    position: absolute;
    list-style:none;
    left: 50%;
    transform: translate(-50%,0);
    margin-top: 78px;
}

.link-box a {
    color: white;

    /* 设置链接的样式 */
    text-decoration: none;
}

.link-ul{
    display: flex
}

.link-ul  li {
    font-size: 11px;
    float: left;
}

.link-ul-li {
    flex: 1;
}

.link-ul-li-ul  li{
    margin-bottom:12px;    
    float: none;
}
.link-ul-li-ul li:first-child {
    margin-bottom: 30px;
}
.link-ul-li-ul  li a {
    font-size: 3px;
}
.logo-2 {
    /* 利用left + transform 使元素居中
    设置position + bottom使元素总处于浏览器最下方 */
    position: fixed;
    left: 50%;
    transform: translate(-50%,0);
    bottom:0;  
}